*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}

body{

  background-color:  #F5F0E6;
  font-family: 'Poppins', sans-serif;


}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8ED;
    padding: 0 40px;
    
}
.logo-img{
    border-radius: 50%;
    width: 80px;
    margin: 7px ;
}

.center{
    margin-left: 20px;
}

.center a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    padding: 15px;
    margin-left: 25px;

}

.center a:hover{
    text-decoration: dotted;
  
}


.btn1{
    border: none;
    background-color: #FFF8ED;
    cursor: pointer;
    padding: 7px;
    font-size: 15px;
    margin-right: 15px;
    width: 150px;
 

}


.btn2{
    border: none;
    background-color: #4E342E;
    color: #FFF8ED;
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn2::before{
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #7A5C3E;
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.btn2:hover::before{
    width: 100%;
    color: #fff;
    border-radius: 10px;
    
}

.btn1:hover{
    background-color: #7A5C3E;
    border-radius: 10px;
    color: #fff;
}





.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.home-left{
 margin-left: 100px;
}

.home-left h3{
    font-size: 40px;
    font-style: italic;
    margin-bottom: 10px;
}


.coffe{
    width: 400px;
  
}


.btn3{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    background-color: #4E342E;
    color: #fff;
    position: relative;
    z-index: 1;



}

.btn3::before{
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    background-color:  #7A5C3E;
    transition: 0.3s;
    z-index: -1;
   

}

.btn3:hover::before{
    width: 100%;
    color: #fff;
    border-radius: 10px;
    
}

.home-right img{
    width: 550px;
  
    
}



.footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #FFF8ED;
   height: 100px;
   margin-top: 20px;
}

.sosyal-icon{
  
    margin: 5px;

    
}

.sosyal-icon .icon1 , .icon2  ,.icon3{
    font-size: 22px;
    margin: 0px 10px;   

}
